<div bsModal #comicAddToCollectionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comicAddToCollectionModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Collections</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" (click)="save()">
                    Add
                </button>
                <button type="button" class="btn btn-default waves-effect" (click)="close()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>