<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='card' style="width: 100%;">
                    <div class="body">
                        <div class="header">
                            <h3 *ngIf="!collection">My Collection
                            </h3>
                            <div *ngIf="collection">
                                <div *ngIf="editingName">
                                    <input id="name" type="text" [ngModel]="collection.name" (keydown.esc)="editingName = false"
                                        autocomplete="off" (change)="updateName($event.target.value,collection)" /></div>
                                <div *ngIf="!editingName">
                                    <h3>{{collection.name}} <button class="editButton" (click)="editingName = !editingName"><span
                                                class="glyphicon glyphicon-pencil"></span></button></h3>
                                </div>
                                <div *ngIf="editingDescription">
                                    <input id="description" type="text" [ngModel]="collection.description"
                                        (keydown.esc)="editingDescription = false" autocomplete="off" (change)="updateDescription($event.target.value,collection)" /></div>
                                <div *ngIf="!editingDescription">
                                    <h2>{{collection.description}} <button class="editButton" (click)="editingDescription = !editingDescription"><span
                                                class="glyphicon glyphicon-pencil"></span></button></h2>
                                </div>
                            </div>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="true">
                                        <i class='glyphicon glyphicon-th-list'></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a class="waves-effect waves-block" *ngFor="let collection of collections"
                                                (click)="getComics(collection)">{{collection.name}}</a></li>
                                        <li role="separator" class="divider">Want List:</li>
                                        <li><a class="waves-effect waves-block" *ngFor="let wantlist of wantLists"
                                                (click)="getComics(wantlist)">{{wantlist.name}}</a></li>
                                    </ul>
                                </li>
                                <button class="deletecollection" style="margin-left: 10px;" *ngIf="collection && !collection.isWantList"
                                    (click)="deleteCollection(collection.id)">Delete
                                    collection</button>
                                <button class="deletecollection" style="margin-left: 10px;" *ngIf="collection && collection.isWantList"
                                    (click)="deleteCollection(collection.id)">Delete
                                    wantlist</button>
                            </ul>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12" id="gallery">
                                <div class="gallery" *ngFor="let comic of comics">
                                    <img class="img-responsive thumbnail" src="data:image/jpeg;base64,{{comic.image}}" />
                                    <div class="desc">
                                        {{comic.title}}
                                    </div>
                                    <div class="overlay"></div>
                                    <button class="details" (click)="comicDetails(comic.id)">Details</button>
                                    <button class="addtocollection" *ngIf="collection && !collection.isWantList"
                                        (click)="deleteComicFromCollection(comic.id)">Delete
                                        from collection</button>
                                    <button class="addtocollection" *ngIf="collection && collection.isWantList" (click)="deleteComicFromCollection(comic.id)">Delete
                                        from wantlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<comic-details-modal #comicDetailsModal></comic-details-modal>