<div bsModal #requestRentModal="bs-modal" class="modal fade in" id="largeModal" tabindex="-1" role="dialog"
    aria-labelledby="comicDetailsModal" aria-hidden="true" [config]="{backdrop: 'static'}" style>
    <div class="modal-dialog " role="document">
        <div #modalContent class="modal-content">
            <div class="container-fluid">
                <div class="moda-header text-center" style="margin: 20px 20px 20px 20px">
                    <h2>Requests</h2>
                </div>
                <div class="modal-body" *ngFor="let user of users">
                    <div class="profile">
                        <img class="img-responsive" src="{{user.picture}}" />
                        <div class="name">{{user.givenName}}</div>
                        <!-- <input type="checkbox" checked> -->
                        <input type="checkbox" name="user" class="filled-in" id="user-{{user.googleId}}" [checked]="user.isSelected"
                            (change)="user.isSelected = !user.isSelected" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect" (click)="save()">
                            Save
                        </button>
                    <!-- <button type="button" class="btn btn-default waves-effect" (click)="addToCollection(comic.id)">
                        Add to collection
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>