<!-- <div class='col-sm-3'>
  <app-nav-menu></app-nav-menu>
</div>
<div class='col-sm-9 '>
  <router-outlet></router-outlet>
</div> -->
<div id="mySidebar" class="sidebar">
  <app-nav-menu></app-nav-menu>
</div>

<div id="main">
  <nav class="navbar navbar-inverse" style="background-color: #2e353d; border-color: #2e353d;">
    <div class="navbar-header" style="background-color: #2e353d; border-color: #2e353d;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick="openNav()" style="cursor: pointer;" data-toggle="offcanvas" id="menu-button" >☰ Menu</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: #2e353d; border-color: #2e353d;">
      <ul class="nav navbar-nav">
        <a href="/" class="navbar-brand" style="display: inline-block;margin-left: 80px; text-align: center;" id="logo">Comic
          Shelf</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!currentUser" (click)="signInWithGoogle()" style="float: right; cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li><a *ngIf="currentUser" (click)="logout()" style="float: right; cursor: pointer;"><span class="glyphicon glyphicon-log-out"></span>Log
            out</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>