<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='card' style="width: 100%">
                    <div class="body">
                        <h2 class="card-inside-title">Comics <div class="search-container">
                                <input type="text" [(ngModel)]="searchText" placeholder="Search.." name="search">
                                <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </h2>
                        <div class="row clearfix">
                            <div class="col-sm-12" id="gallery">
                                <div class="gallery" *ngFor="let comic of comics | filter: searchText">
                                    <img class="img-responsive thumbnail" src="data:image/jpeg;base64,{{comic.image}}" />
                                    <div class="desc">
                                        {{comic.title}}
                                    </div>
                                    <div class="overlay"></div>
                                    <button class="details" (click)="comicDetails(comic.id)">Details</button>
                                    <button class="addtocollection" (click)="addToCollection(comic.id)">Add to
                                        collection</button>
                                    <button class="addtowantlist" (click)="addToCollection(comic.id)">Add to
                                        want list</button>
                                    <button type="button" class="addtocollection dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                        Add to collection
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a *ngFor="let collection of collections" class=" waves-effect waves-block"
                                                (click)="addToCollection(collection.id,comic.id)">{{collection.name}}</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class=" waves-effect waves-block" (click)="addCollection(false)">New
                                                collection</a></li>
                                    </ul>
                                    <div class="wantlist">
                                        <button type="button" class="addtowantlist dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                            Add to want list
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a *ngFor="let wantlist of wantLists" class=" waves-effect waves-block"
                                                    (click)="addToCollection(wantlist.id,comic.id)">{{wantlist.name}}</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a class=" waves-effect waves-block" (click)="addCollection(true)">New want
                                                    list</a></li>
                                        </ul>
                                    </div>
                                    <button class="requestRent" (click)="RequestComic(comic.id)">Request comic</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<comic-details-modal #comicDetailsModal></comic-details-modal>
<add-collection-modal #addCollectionModal (modalSave)="getCollections()"></add-collection-modal>
<request-rent-modal #requestRentModal></request-rent-modal>