div.gallery {
    margin: 30px;
    width: 200px;
    display: inline-block;
    vertical-align:top;
    padding-top:25px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    position:relative;
    width: auto;
    height: auto;
  }
  
  div.desc {
    padding: 0px;
    text-align: center;
  }