div.gallery {
    position: relative;
    margin: 30px;
    width: 200px;
    display: inline-block;
    vertical-align:top;
    padding-top:25px;
  }
  
  /* div.gallery:hover {
    border: 1px solid #777;
  } */
  
  div.gallery img {
    position:relative;
    width: auto;
    height: auto;
  }
  
  div.desc {
    padding: 0px;
    text-align: center;
  }

 div.gallery:hover img{
    opacity:0.5;
 }

 div.gallery:hover button {
  display: block;
}
div.gallery button {
  position:absolute;
  display:none;
}
div.gallery button.details {
  top:40%;
  left:35%;
}
div.gallery button.addtocollection {
  top:48%;
  left:20%;
}
div.gallery ul.dropdown-menu{
  top:30%;
  left:20%;
}
div.gallery .dropup{
  margin-right: 10px;
}