<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='card' style="width: 100%">
                    <div class="body">
                        <h2 class="card-inside-title">Comics</h2>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="gallery" *ngFor="let comic of comics">
                                    <img class="img-responsive thumbnail" src="data:image/jpeg;base64,{{comic.image}}" />
                                    <div class="desc">
                                        {{comic.title}}
                                    </div>
                                    <div class="overlay"></div>
                                    <button class="details" (click)="comicDetails(comic.id)">Details</button>
                                    <button class="addtocollection" (click)="addToCollection(comic.id)">Add to
                                        collection</button>
                                    <button type="button" class="addtocollection dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Add to collection
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a *ngFor="let collection of collections" class=" waves-effect waves-block"
                                                (click)="addToCollection(collection.name,comic.id)">{{collection.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<comic-details-modal #comicDetailsModal></comic-details-modal>
